
.g{
	color:blue;
}
.o{
	color:red;
}
.op{
	color:orange;
}
.gp{
	color:blue;
}
.l{
	color:black;
}
.e{
	color:red;
}
body{
	background-color:green;
}
.mo{
	color:red;
}
.hg{
	color:red;
}